[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "*"
iso3166 = "==2.0.2"
pyarrow = "*"
regex = "*"
numpy = "*"
scipy = "*"
xlrd = "*"
pandas = "*"
pywavelets = "*"
feature-engine = "*"
scikit-learn = "*"
arch = "*"
kats = "*"
umap-learn = {extras = ["plot"], version = "*"} 
xgboost = "*"
gensim = "*"
optuna = "*"
shap = "*"
matplotlib = "*"
altair = "==4.1.0"
plotly = "==5.3.1"
yfinance = "*"
alpha-vantage = "*"
wrds = "*"
fredapi = "*"
ta = "*"
ta-lib = "==0.4.19"
alphalens-reloaded = "==0.4.2"
zipline-reloaded = "*"
pyfolio-reloaded = "==0.9.4"
backtrader = {extras = ["plotting"], version = "*"}

[requires]
python_version = "3.8"
