[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "*"
dvc = {extras = ["gdrive"], version = "*"}
pyarrow = "*"
regex = "*"
numpy = "*"
scipy = "*"
xlrd = "*"
pandas = "*"
polars = "*"
pywavelets = "*"
feature-engine = "*"
scikit-learn = "*"
umap-learn = {extras = ["plot"], version = "*"} 
xgboost = "*"
gensim = "*"
optuna = "*"
shap = "*"
matplotlib = "*"
altair = "==4.1.0"
plotly = "==5.3.1"
yfinance = "*"
alpha-vantage = "*"
wrds = "*"
fredapi = "*"
ta = "*"
ta-lib = "*"
alphalens-reloaded = "*"
zipline-reloaded = "*"
backtrader = "*"

[requires]
python_version = "3.8"
